<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/reset.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<title>K+ Tutoring</title>
	</head>
	<body style="background-image: url('https://news.umanitoba.ca/wp-content/uploads/2013/10/iStock_000019012355Medium-1200x898.jpg'); height: 100%; background-position:center;background-repeat:no-repeat;background-size:cover;">
		{{{ body }}}
	</body> 
</html>
