<div id="header">
    <img src="images/kaylaLogo.png" alt="" class="logo">
</div>
<div id="nav">
	<ul id="buttonDiv">
		<li class="navButton"><a href="/" class="navLink">Home</a></li>
		<li class="navButton"><a href="/About" class="navLinkSelected">About Me</a></li>
		<li class="navButton"><a href="/Services" class="navLink">Services</a></li>
        <li class="navButton"><a href="/Contact" class="navLink">Contact</a></li>        
	</ul>	
</div>
<div class="mainDiv">
Test
</div>
<div class="footer">

</div>