<div class="mainContainer">
    <div id="Content">
        <div id="header">
            <img src="images/kaylaLogo.png" alt="" class="logo">
            <a href="https://www.linkedin.com/in/kaylaquinter/" class="linkedInLink" target="_blank"><img src="images/linkedin-logo.png" alt="" class="linkedInBut"></a>
        </div>
        <div id="nav">
            <ul id="buttonDiv">
                <li class="navButton"><a href="/" class="navLink">Home</a></li>
                <li class="navButton"><a href="/About" class="navLink">About Me</a></li>
                <li class="navButton"><a href="/Services" class="navLink">Services</a></li>
                <li class="navButton"><a href="/Contact" class="navLinkSelected">Contact</a></li>        
            </ul>	
        </div>
        <div class="mainDiv">
            <form action="mailto:kovachks90@gmail.com" method="post" enctype="text/plain">
                Name:<br>
                <input type="text" name="name"><br>
                E-mail:<br>
                <input type="text" name="mail"><br>
                Message:<br>
                <textarea type="text" name="comment" size="50"></textarea><br><br>
                <input type="submit" value="Send">
                <input type="reset" value="Reset">
                </form>
        </div>
        <div class="footer">
            <p class="copyright">&copy2017</p>
        </div>
    </div>
</div>