
.logo {
	height: 100px;
	width: 200px;
}
#header {
	height: 100px;
/*	background-color: #515353;*/
}
.mainContainer {
	position:static;
	width: 80%;
	background-color: white;
	margin: 75px auto;
	z-index: 1;
}
#container {
	position: static;
	background-color: white;
	z-index: 1;
}
#nav {
	width: 100%;
	background-color: #66c0bf;
	border-bottom: 2px solid #515353;
}
.navButton {
	display: inline-block;	
	line-height: 50px;
	height: 50px;
	width: 125px;	
	text-align: center;
	display: inline-block;
	text-decoration: none;
}
.navLink {
	display: inline-block;
	margin:0;
	text-decoration: none;
	height: 50px;
	width: 125px;
	color: white;
	font-size: 1.25em;
}
.navLinkSelected {
	display: inline-block;
	height: 50px;
	width: 125px;
	color: white;
	text-decoration: underline;
	font-size: 1.25em;	
}
.navLink:hover{
	color: #515353;
	background-color: #57a8a7;
}
.navLinkSelected:hover{
	color: #515353;
}
.mainDiv {
	position: static;
	height: 1000px;
	width: 100%;
	margin: 0 0 300px 0;
	background-image: "../images/backgroundImage.png";
/*	background-color: #515353;*/
}
.mainContent {
	width: 86%;
	top: 50px;
	margin: 0 5%;
	padding: 2%;
	font-size: 1.25em
}
.footer {
	position: relative;
	width: 100%;
	height: 125px;
	background-color: #515353;
	bottom: -300;
	color: white;
}
.copyright {
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 2em;
	padding: 50px 0 0 0;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 700px) {
	.navLink {
		font-size: 2.6em;
		padding: 40px 0 0 0;
		height: 85px;
		width: 100%;
	}
	.navLinkSelected {
		font-size: 2.6em;
		height: 100%;
		width: 100%;
	}	
	#nav {
		height: 125px;
	}
	#buttonDiv {
		vertical-align: center;
	}
	.navButton {
		height: 125px;
		width: 24.5%;
	}
	.mainContent {
		font-size: 1.75em;
		padding: 5%;
		width: 80%;
	}
	.mainContainer {
		width: 100%;
		margin: 0;
	}
}
