.logo {
	height: 200px;
	width: 325px;
}
#header {
	height: 190px;
}
#nav {
	width: 100%;
	background-color: #66c0bf;
}
.navButton {
	line-height: 50px;
	height: 50px;
	width: 125px;	
	text-align: center;
	display: inline-block;
	text-decoration: none;
}
.navLink {
	display: inline-block;
	margin:0;
	text-decoration: none;
	height: 50px;
	width: 125px;
	color: white;
	font-size: 1.25em;
}
.navLinkSelected {
	display: inline-block;
	height: 50px;
	width: 125px;
	color: white;
	text-decoration: underline;
	font-size: 1.25em;	
}
.navLink:hover{
	color: #515353;
}
.navLinkSelected:hover{
	color: #515353;
}
.mainDiv {
	position: static;
	height: 600px;
	width: 100%;
	background-image: "../images/backgroundImage.png";
/*	background-color: #515353;*/
}
.mainContent {
	position: relative;
	width: 86%;
	top: 50px;
	margin: 0 5%;
	padding: 2%;
	background-color: white;
	font-size: 1.25em
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.navLink {
		font-size: 1.5em;
		height: 75px;
		padding: 10px 0 0 0;
	}
	.navLinkSelected {
		font-size: 1.5em;
		height: 75px;
	}	
	#nav {
		height: 75px;
	}
	#buttonDiv {
		height: 75px;
	}
	.navButton {
		height: 75px
	}
}
